@import "../../public/assets/font.css";
@import "tailwindcss";
@import "line-awesome/dist/line-awesome/css/line-awesome.min.css";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --app-font: "Space Mono", Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--app-font);
  }
}
